.fretboard-content {
  padding: 10px;
  background: #333333;
}

.frets-slider {
  width: 50%; /* Adjust as needed */
  margin-top: 10px; /* Space above the slider */
}

.frets-label {
  font-size: 14px;
  color: #333;
  margin-top: 5px; /* Space above the label */
}
